
.expand-btn {
    grid-area: expand;
}

/* QUESTO è un BOTTONE di checklist add checklist */
.checklist-add-item-btn {
    /* grid-area: addBtn;
    place-self: start; */
    /* width: 2em;
    height: 2em; */
    flex: none;
}

/* Questo è un bottone di due date */
.due-date-delete-btn,
.due-date-edit-btn {
    grid-area: btn;
}



/* .expand-wrapper {
    grid-area: 2 / span 4;
    padding: 0.5rem;
    background-color: var(--slate-600);
    border-radius: 0 0 15px 15px;
    display: grid;
        grid: 
            [row1-start] "description description checklist" 5rem [row1-end]
            [row2-start] "priority tags checklist" 4rem [row2-end]
            /1fr 0.5fr 1fr;
    gap: 10px;
    border: 2px solid var(--slate-500);
    align-items: flex-start;    
} */

/* .description-wrapper {
    grid-area: description;
    display: flex;
    flex-direction: column;  
    gap: 10px
}



.description-label {
    padding: 1rem;
}

.description-text {
    padding: 0.5rem 0.3rem;
    resize: none;
    font-size: 1rem;
    line-height: 1.2;
}

.priority-wrapper {
    grid-area: priority;
}

.priority-wrapper fieldset {
    border: none;
    padding: 1rem;
}

.radios-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;

    display: grid;
    place-content: center;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em); 
    outline-color: var(--amber-500);
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--amber-500);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus,
.task-tags:focus {
    outline: max(2px, 0.15em) solid var(--amber-500);
}

.tags-wrapper {
    grid-area: tags;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 0 1em 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.task-tags {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--slate-700);
    border-radius: 15px;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--slate-200);
    color: var(--slate-700);
} */

/* Task Buttons */
.expand-btn,
.task-edit-btn,
.task-delete-btn,
.due-date-delete-btn,
.due-date-edit-btn {
    background-color: var(--slate-700);
    fill: var(--slate-200);
    border: none;
    padding: 0.5rem 0.5rem;
    max-width: 100%;
}


.expand-btn:hover,
.task-edit-btn:hover,
.task-delete-btn:hover,
.due-date-delete-btn:hover,
.due-date-edit-btn:hover
{
    fill: var(--amber-500);
    cursor: pointer;
}

.expand-btn-up svg.svg-expand {
    transform: rotate(180deg); 
    transition: 0.2s transform linear;
}

.expand-btn-down svg.svg-expand {
    transform: rotate(0deg);
    transition: 0.2s transform linear;
}

.task-btn-wrapper {
    grid-area: 1 / 4 / 1 / 5;
    place-self: center;
}
