.desk {
    grid-area: desk;
    background-color: var(--slate-200);
}

.task-item {
    display: grid;
    grid: 
        [row1-start] "check due-date btns" 1fr [row1-end]
        / 2fr 2fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 1rem;
    list-style: none;
    font-family: 'Montserrat-700', sans-serif;
    color: var(--slate-200);
    background-color: var(--slate-700);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(148, 163, 184, 0.4);
}

.checkbox-wrapper {
    grid-area: check;
    display: grid;
    grid: 
        [row1-start] "check label expand" 1fr [row1-end]
        /0.5fr 2fr 0.5fr;
    align-items: center;
}

.checkbox-wrapper button {
    place-self: start;
}

/* Task Checkbox */
input[type="checkbox"] {
    appearance: none;
    margin: 0;
    background-color: #fff;
    font: inherit;
    background-color: var(--slate-200);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--slate-200);
    border-radius: 3px;
    transform: translateY(-0.075em);
    transform: translateX(1em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-out;
    box-shadow: inset 1em 1em var(--amber-500);
    border-radius: 3px;
}

input[type="checkbox"]:checked:before {
    transform: scale(1);   
}

input[type="checkbox"]:checked + label,
span.checkbox-wrapper:has(input[type="checkbox"]:checked) + span.due-date-wrapper {
    color: var(--amber-500);
    text-decoration: line-through;
}

label:hover,
input[type="checkbox"]:hover,
.task-due-date:hover {
    cursor: pointer;
    color: var(--amber-500)
}

.expand-btn {
    grid-area: expand;
}

.due-date-wrapper {
    grid-area: due-date;
    display: grid;
    grid: 
        [row1-start] "btn date msg" 1fr [row1-end]
        / 0.1fr 0.5fr 1.5fr;
    justify-items: end;
    align-items: center;
}

.task-due-date {
    grid-area: date;
    place-self: center;
}

.span-before-date {
    grid-area: span;
}

.due-date-delete-btn,
.due-date-edit-btn {
    grid-area: btn;
}

.late-msg {
    grid-area: msg;
    place-self: center start;
    margin-left: 1rem;
}

.late-color {
    color: var(--amber-500);
}

span.late-msg svg {
    fill: var(--amber-500)
}

.expand-wrapper {
    grid-area: 2 / span 2;
    padding: 0.5rem;
    background-color: var(--slate-600);
    border-radius: 0 15px 0 0;
    display: grid;
        grid: 
            [row1-start] "description checklist" 1fr [row1-end]
            [row2-start] "priority checklist" 1fr [row2-end]
            [row3-start] "tags checklist" 1fr [row3-end]
            /1fr 1fr;
    gap: 10px;
    
    border: 2px solid var(--slate-500);
}

.description-wrapper {
    grid-area: description;
    display: flex;
    flex-direction: column;  
}

.descrition-label {
    padding: 1rem;
}

.description-text {
    padding: 0.5rem 0.3rem;
    resize: none;
    font-size: 1rem;
    line-height: 1.2;
}

.priority-wrapper {
    grid-area: priority;
}

.priority-wrapper fieldset {
    border: none;
    padding: 1rem;
}

.radios-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-wrapper {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;

    display: grid;
    place-content: center;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em); 
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--amber-500);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.tags-wrapper {
    grid-area: tags;
}

.checklist-wrapper {
    grid-area: checklist;
}


/* Task Buttons */
.expand-btn,
.task-edit-btn,
.task-delete-btn,
.due-date-delete-btn,
.due-date-edit-btn {
    background-color: var(--slate-700);
    fill: var(--slate-200);
    border: none;
    padding: 0.5rem 0.5rem;
    max-width: 100%;
}


.expand-btn:hover,
.task-edit-btn:hover,
.task-delete-btn:hover,
.due-date-delete-btn:hover,
.due-date-edit-btn:hover
{
    fill: var(--amber-500);
    cursor: pointer;
}

.expand-btn-up svg.svg-expand {
    transform: rotate(180deg); 
    transition: 0.2s transform linear;
}

.expand-btn-down svg.svg-expand {
    transform: rotate(0deg);
    transition: 0.2s transform linear;
}

.task-btn-wrapper {
    grid-area: btns;
    place-self: center;
}
