@import './sidebar.css';
@import './desk.css';

/* Montserrat 700 - Latin from Google Font Helper */
@font-face {
    font-family: 'Montserrat-700';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src:
        url('../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
        url('../assets/fonts/montserrat-v25-latin-700.woff') format('woff')
}

:root {
    /* Base Color: Tailwind Palette - Slate */
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;

    /* Accent Color: Tailwind Palette - Amber */
    --amber-50: #fffbeb;
    --amber-100: #fef3c7;
    --amber-200: #fde68a;
    --amber-300: #fcd34d;
    --amber-400: #fbbf24;
    --amber-500: #f59e0b;
    --amber-600: #d97706;
    --amber-700: #b45309;
    --amber-800: #92400e;
    --amber-900: #78350f;
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Layout */
.container {
    display: grid;
    grid: 
        [row1-start] "navbar desk" 1fr [row1-end]
        /1fr 3fr;
    height: 100vh;
    width: 100vw;
}

/* New List and Edit List Fields */
.new-list-title,
.edit-list-title,
.edit-task-title,
.new-due-date,
.new-task-input,
.description-text {
    font-family: 'Montserrat-700', sans-serif;
    background-color: var(--slate-200);
    color: var(--slate-700);
    border-radius: 15px;
    outline-color: var(--amber-500);
    caret-color: var(--amber-500);
    
}

.new-due-date {
    grid-area: 1;
}

.edit-task-title,
.new-due-date,
.new-task-input {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    line-height: 1rem;
}

.new-list-title,
.edit-list-title {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1rem;
}

.new-due-date {
    background-color: var(--slate-200);
    color: var(--amber-500);
    margin-right: 0.5rem;
    line-height: 1rem;
}

.edit-list-title {
    grid-area: 1 / 1 / 1 / span 2;
    margin-bottom: 0.5rem;
    z-index: 1;
    line-height: 1rem;
}

.new-list-title {
    height: 8%;
}

.new-lists-error {
    color: var(--amber-500);
    background-color: var(--slate-300);
}
