/* NavBar */
.navbar {
    grid-area: navbar;
    display: grid;
    grid:
        [row1-start] "header" 7rem [row1-end] 
        [row2-start] "menu" 20rem [row2-end] 
        [row4-start] "lists" 1fr [row4-end] 
        / 1fr;
    gap: 20px;
    background-color: var(--slate-700);
    font-family: 'Montserrat-700', sans-serif;
    color: var(--slate-200);
}

/* NavBar Header */
.side-header {
    grid-area: header;
    display: grid;
    grid: 
        [row1-start] "logo btn title" 1fr [row1-end]
        /1fr 0.5fr 2fr;
    justify-items: start;
    align-items: center;
}

.side-title {
    grid-area: title;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 0.5rem;
}

div#side-header-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#side-header-logo svg {
    fill: var(--amber-500);
    width: 7rem;
    height: 7rem;
    padding: 1rem;;
}

/* Menu and lists */
.side-navbar {
    grid-area: menu;
}

.side-section-lists {
    grid-area: lists;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu, 
.lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.lists-header {
    display: grid;
    grid: 
        [row1-start] "btn title" 1fr [row1-end]
        / 1fr 2fr;
}

.lists-title {
    grid-area: title;
    font-size: 2.5rem;
    color: var(--slate-200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists-items {
    display: grid;
    grid:
        [row1-start] "title btns" 1fr [row1-end]
        / 2fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/* Buttons NavBar */
.btns-lists {
    grid-area: btns;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.btn-menu,
.btn-lists,
.btn {
    font-family: 'Montserrat-700', sans-serif;
    border: none;
    color: var(--slate-200);
    background-color: var(--slate-700);
    font-size: 2rem;
    font-weight: 700;
}

.btn-lists {
    grid-area: title;
}

.btn,
.checklist-add-item-btn {
    color: var(--slate-700);
    background-color: var(--slate-200);
    box-shadow: 5px 5px 5px rgba(148, 163, 184, 0.4);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.btn {
    width: 4rem;
    height: 4rem;
}

.checklist-add-item-btn {
    font-family: 'Montserrat-700', sans-serif;
    border: none;
    color: var(--slate-700);
    width: 2rem;
    height: 2rem;

}

.btn:active,
.checklist-add-item-btn:active {
    color: var(--amber-500);
    background-color: var(--slate-300);
    transform: translateY(5px);
}

.btn-menu:hover,
.btn-lists:hover,
.btn:hover,
.checklist-add-item-btn:hover {
    color: var(--amber-500);
    cursor: pointer;
}

.btn:hover,
.checklist-add-item-btn:hover {
    box-shadow: 5px 5px 5px rgba(245, 158, 11, 0.4); 
}

#btn-new-task {
    grid-area: btn;
}

#btn-new-list {
    grid-area: btn;
}

/* New List and Edit List Fields Buttons */
.btn-lists-edit,
.btn-lists-delete {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    background-color: var(--slate-700);
    border: none;
    cursor: pointer;
}

.btn-lists-edit {
    margin-right: 1rem;
}

button.btn-lists-edit svg,
button.btn-lists-delete svg {
    fill: var(--slate-200);
}

button.btn-lists-edit svg:hover,
button.btn-lists-delete svg:hover {
    fill: var(--amber-500);
}
