/* LAYOUT */
.navbar {
    grid-area: navbar;
    display: grid;
    grid:
        [row1-start] "header" 0.5fr [row1-end] 
        [row2-start] "menu" 1fr [row2-end] 
        [row4-start] "lists" 2.5fr [row4-end] 
        / 1fr;
    gap: 20px;
}

.side-header {
    grid-area: header;
    display: grid;
    grid: 
        [row1-start] "logo btn title" 1fr [row1-end]
        /1fr 0.5fr 2fr;
    justify-items: start;
    align-items: center;
}

#side-header-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-new-task {
    grid-area: btn;
}

#side-header-title {
    grid-area: title;
}

div svg {
    height: 6rem;
    width: 6rem;
    margin: 1rem 0 1rem 1rem;
}

.menu, 
.lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu {
    gap: 10px;
}

.side-navbar {
    grid-area: menu;
}

.side-section-lists {
    grid-area: lists;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.lists-header {
    display: grid;
    grid: 
        [row1-start] "btn title" 1fr [row1-end]
        / 1fr 2fr;
}

#btn-new-list {
    grid-area: btn;
}

.lists-title {
    grid-area: title;
    font-family: 'Montserrat-700', sans-serif;
    font-size: 2.5rem;
    color: var(--slate-200);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.lists-items {
    display: grid;
    grid:
        [row1-start] "title btns" 1fr [row1-end]
        / 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.btn-lists {
    grid-area: title;
}

.btns-lists {
    grid-area: btns;
}

button svg {
    width: 2rem;
    height: 2rem;
}

.new-list-title,
.edit-list-title {
    width: 80%;
    height: 20%;
    padding: 1rem;
}

/* STYLE */
.navbar {
    background-color: var(--slate-700); 
}

.side-title {
    font-family: 'Montserrat-700', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-left: 0.5rem;
    color: var(--slate-200);
}

div svg {
    fill: var(--amber-500);
}

.btn-menu,
.btn-lists {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: var(--slate-200);
    background-color: var(--slate-700);
    font-size: 2rem;
    font-weight: 700;
}

.btn {
    font-family: 'Montserrat-700', sans-serif;
    color: var(--slate-700);
    background-color: var(--slate-200);
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(148, 163, 184, 0.4);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.btn:active {
    color: var(--amber-500);
    background-color: var(--slate-300);
    transform: translateY(5px);
}

.btn-menu:hover,
.btn-lists:hover,
.btn:hover {
    color: var(--amber-500);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(245, 158, 11, 0.4); 
}

button svg {
    fill: var(--slate-200);
}

button svg:hover {
    fill: var(--amber-500);
}

.new-list-title,
.edit-list-title {
    background-color: var(--slate-200);
    color: var(--slate-700);
    border-radius: 15px;
    outline-color: var(--amber-500);
    caret-color: var(--amber-500);
    line-height: 1rem;
}

.new-list-title {
    font-family: 'Montserrat-700', sans-serif;
    font-size: 2rem;
}

.edit-list-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.new-lists-error {
    color: var(--amber-500);
    background-color: var(--slate-300);
}

.svg-selected {
    fill: var(--amber-500);
}
